@{
    ViewData["Title"] = "Главная страница";
    ViewData["H1"] = "Главная";
}



    <p>Выполняем работу быстро и качественно.</p>

    <div>
        <a class="btnus" asp-area="" asp-controller="Home" asp-action="uslugi">Наши услуги</a>
    </div>
    

